body {
  background-color: #333; /* Dark background color for the page */
  color: #fff; /* Text color */
}

.container {
  border-radius: 25px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#result {
  margin-top: 20px;
}


.result-item {
  border-radius: 25px;
  border: 1px solid #fff; /* White border around each result item */
  padding: 10px;
  margin: 10px 0;
  outline: 2px solid yellow; /* Yellow outline for each result item */
  display: flex; /* Use flexbox */
  /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}
